extends index

block content
    div(class="SummaryVisible", ng-controller="SummaryCtrl", class="col-xs-12")
        div(ng-controller="TopRowCtrl", ng-click="onExpandClicked()", style='cursor: pointer; cursor: hand;')
            div(class="row")
                img(class="col-xs-2 col-md-1", src="../images/Expand.png", id='ExpandSumImgId', class="expandoimage", style="margin: 0.01em 0.5em  0.01em  0.05em;")
                textarea(class="col-xs-9 col-md-10", style="resize: none; overflow-y: hidden;") Expand/Shrink Summary Master Website Options

        div(style="display:{{$parent.row2Showing}}", ng-controller="Row2Ctrl")
            div(class="row")
                div(class="col-xs-12 col-sm-8 col-md-8 col-lg-8") .col-xs-12 .col-sm-8 .col-md-8 .col-lg-8
                div(class="col-xs-6 col-sm-4 col-md-4 col-lg-4") .col-xs-6 .col-sm-4 .col-md-4 .col-lg-4

            div(class="row")
                div(class="col-xs-6 col-sm-4") .col-xs-6 .col-sm-4
                div(class="col-xs-6 col-sm-4") .col-xs-6 .col-sm-4
                div(class="col-xs-6 col-sm-4") .col-xs-6 .col-sm-4

    div
        div(class="row", ng-controller="SiteBodyCtrl", id="idSiteBodyCtrl")

            div(class="col-xs-12 col-sm-6 col-md-4", ng-controller="LeftColCtrl", style="display:{{$parent.leftColShowing}}")
                include stuffing.jade
                include stuffing.jade

            div(ng-controller="MapColCtrl", class="{{mapColDef}}", class="col-xs-12")
                div(class="row")
                    div(class="col-xs-6")
                        figure(style="margin-top: 4px; margin-bottom: 4px; margin-left: 4px;", ng-click="onExpandClicked()")
                            img(src="../images/Expand.png", id='ExpandSumImgId', class="expandoimage", style="margin: 0.01em 0.5em  0.01em  0.05em;")
                            figcaption(class="btn", style="float: left;  text-align: left;padding: 0.01em 0.01em 0.01em 0.2em;font-weight: 800;") Expand/Shrink Map
                    div(class="col-xs-6")
                        button(type"button", class="btn btn-primary", ng-click="onShowMDialogClicked()",
                            style="margin-top: 0.01em;") Toggle Dialog
                        button(type"button", class="btn btn-primary", ng-click="onShowPluginClicked()",
                            style="margin-top: 0.01em;") Toggle Plugin,
                        button(type"button", class="btn btn-primary", ng-click="onMapLinkrClicked()",
                            style="margin-top: 0.01em;") Toggle MapLinkr

                div(class="row")
                    div(ng-controller="MapViewCtrl", id="MapViewCtrlId", class="col-sx-12")
                        div(class="card", style="overflow-x: auto; overflow-y: auto;")
                            img(class="card-img-top", src="../images/ChiMap.png")


            div(class="col-xs-12 col-sm-6 col-md-4", ng-controller="RightColCtrl", style="display:{{$parent.rightColShowing}}")
                include busnonsense.jade
                include busnonsense.jade
