doctype html
html(style="height:100%;width:100%;")
    head
        meta(charset='utf8', name="viewport", content="width=device-width, initial-scale=1")
        base(href='/')
        title GridCol Tester
        block stylesblock
            link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css")
            link(rel="stylesheet", href="/stylesheets/style.css")
            link(rel="stylesheet", href="/stylesheets/grid.css")
            link(href="https://rawgit.com/MarkoCen/ngPopup/master/dist/ngPopup.min.css")
        block scriptsblock
            script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.js')
            script(src="https://rawgit.com/MarkoCen/ngPopup/master/dist/ngPopup.min.js")
            script(data-main="/javascripts/script.js", src="/javascripts/require.js")
    body(style="width:100%")
        block content
