doctype html
html(style="height:100%;width:100%;")
    head
        meta(charset='utf8', name="viewport", content="width=device-width, initial-scale=1")
        base(href='/')
        title GridCol Tester
        block stylesblock
            link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css")
            link(rel="stylesheet", href="/stylesheets/style.css")
            link(rel="stylesheet", href="/stylesheets/grid.css")
        block scriptsblock
            script(src="/javascripts/script.js")
    body(style="width:100%")
        block content
