
div(class="modeless", id="idDialog", role="dialog", aria-labelledby="dialogLabel", aria-hidden="true")
    div(class="modal-dialog", role="document")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true", ng-click="cancel()")&times

            h4(class="modal-title", id="dialogLabel") {{data.title}}
            div(class="modal-body")
                | {{data.guts}}

            div(class="modal-footer")
                div(class="col-md-6 col-xs-2", style="visibility: hidden")
                button(type="button", class="btn btn-default col-md-2 col-xs-4", ng-click="accept()") Close
                button(type="button", class="btn btn-default col-md-2 col-xs-4", ng-click="cancel()") Cancel
