
div(class="modeless", id="idPlugin", role="dialog", aria-labelledby="pluginLabel", aria-hidden="true")
    div(class="modal-content")
        div(class="modal-header")
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true", ng-click="cancel()") &times

        h5(class="modal-title", id="pluginLabel") {{data.title}}
        div(class="modal-body")
            div(id="accountInfo", role="tablist", aria-multiselectable="true")
                div(id="repeater", ng-repeat="m in data.nfos", class="ng-scope")
                    div(class="card")
                        div(class="card-header", role="tab", id="debtorHeader{{m.filenumber}}")
                            h4(class="card-title")
                                button(class="btn btn-success", data-toggle="collapse",
                                    data-target="#debtorInfo{{m.filenumber}}", aria-expanded="false",
                                    aria-controls="debtorInfo{{m.filenumber}}")
                                    | Debtor Info {{m.filenumber}}

                        div(id="debtorInfo{{m.filenumber}}", class="card-collapse collapse", role="tabpanel",
                            aria-labelledby="debtorHeader{{m.filenumber}}")
                            div(class="card card-block")
                                div(class="row")
                                    div(class="col-sm-2 text-right") <strong>File Number</strong>
                                    div(class="col-sm-3") {{m.filenumber}}
                                    div(class="col-sm-2 text-right")<strong>DOB</strong>
                                    div(class="col-sm-3") {{m.DOB}}

                                div(class="row")
                                    div(class="col-sm-2")
                                    div(class="col-sm-3")
                                    div(class="col-sm-2 text-right")<strong>SSAN</strong>
                                    div(class="col-sm-3") {{m.SSAN}}

                                div(class="row")
                                    div(class="col-sm-2 text-right")<strong>Name</strong>
                                    div(class="col-sm-3") {{m.fullname}}
                                    div(class="col-sm-2 text-right")<strong>Employer</strong>
                                    div(class="col-sm-3") {{m.employer}}

                                div(class="row")
                                    div(class="col-sm-2 text-right")<strong>Address</strong>
                                    div(class="col-sm-3") {{m.address}}
                                    div(class="col-sm-2 text-right")<strong>Skipped Employer</strong>
                                    div(class="col-sm-3") {{m.custom}}
