body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* CSS used here will be applied after bootstrap.css */

.modeless{
    top:1%;
    left:1%;
    bottom:auto;
    right:auto;
}


.accdionchevron-right {
    /*clip-path: inset(2px 2px 2px 2px);*/
    -webkit-clip-path: inset(2px 2px 2px 2px);
    background-image: url(images/chevron-right.png);
    background-color: #6E9096;
    background-size: 100% 100%;
    width: 25px;
    height:25px;
}
.accdionchevron-down {
    /*clip-path: inset(2px 2px 2px 2px);*/
    -webkit-clip-path: inset(2px 2px 2px 2px);
    background-image: url(images/chevron-down.png);
    background-color: #6E9096;
    background-size: 100% 100%;
    width: 25px;
    height:25px;
}
