body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* CSS used here will be applied after bootstrap.css */

.modeless{
    top:1%;
    left:1%;
    bottom:auto;
    right:auto;
}
